* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 1024px;
}

.card-box {
    position: fixed;
    background-color: thistle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    z-index: 200;

}

.metrics{
    display: block;
    margin-right: 400px;
}

#sando__img{
    width: 200px;
}

header {
    background-color: azure;
    border-radius: 5px;
    height: 120px;
    margin-top: 20px;

}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}


header h2 {
    padding: 5px;
    padding-left: 20px;
}


main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#plate {
    height: 500px;
    width: 50vw;
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 550px;
    margin: 40px;
}



footer {
    background-color: azure;
    height: 120px;
    width: 100vw;
    max-width: 1024px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute;
    display: flex;
    

}

    #iced {
    padding: 5px 20px;
    margin: 20px;
    color: pink;
}