* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: auto;
    height: 10vh;
    width: 1024px;
}

header {
    background-color: azure;
    border-radius: 10px;
    height: 120px;
    align-items: center;
    margin-top: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#plate {
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 500px;
    margin: 40px;

}

footer {
    background-color: azure;
    height: 120px;
    width: 1024px;
    border-radius: 10px;
    position: fixed;
    margin-bottom: 20px;
}