* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    height: 10vh;
    width: 1024px;
}

.form-box {
    background-color: thistle;
    height: 50px;
    width: 100px;
    z-index: 1;
}

.form-after::after {


}

header {
    background-color: azure;
    border-radius: 5px;
    height: 120px;
    align-items: center;
    margin-top: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#plate {
    height: 500px;
    width: 50vw;
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 500px;
    margin: 40px;
}

.metrics {
    margin-right: 400px;

}

footer {
    background-color: azure;
    height: 120px;
    width: 100vw;
    max-width: 1024px;
    border-radius: 5px;
    position: fixed;
    margin-bottom: 20px;
}