* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #1a0240;
    --lightpurple: #8055f6;
    --orange: #ffa029;
    --teal: #0cf2db;
    --green: #7ac943;
    --yellow: #f2e205;
    --pink: #ff7fd5;
    --darkpurple: #42128d;
}

body {
    padding: 0 40px;
    height: 80vh;
    width: 900px;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    background-color: #1a0240;
    background-size: cover;
    color: whitesmoke;
}

.card-box {
    position: fixed;
    background-color: var(--background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    z-index: 400;

}

.card-border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 380px;
    max-width: 800px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--lightpurple);
    border: 10px solid #42128d;
    padding: 40px;
    text-align: center;
    color: whitesmoke;
}

.card-border h2{
    font-weight: 700;
    font-size: 2em;
    padding: 10px 10px;
    
}

.card-border ul{
    text-align: justify;
    line-height: 1.5;
    padding: 20px 0 20px 50px;
}

#submit-name{
    font-family: 'Arvo', serif;
    font-weight: 400;
    padding: 7px;
    border-radius: 5px;
    animation: ease-in-out;
    background: whitesmoke;
    box-shadow: 5px 5px 15px 5px rbga(255,255,255,.8);
    color: var(--background);
    cursor: pointer;
}

#submit-name:hover{
    color:var(--pink);
    transform: scale(1.1);
    cursor: pointer;
}

.about-game p{
    margin: 10px 0;
    font-weight: 700;
}

.about-game h3{
    color:var(--teal);
    margin: 20px 0 0 0;
    font-weight: 700;
}

li button{
    font-family: 'Arvo', serif;
    font-weight: 400;
    padding: 2px 5px;
    border-radius: 5px;
    background: whitesmoke;
}

li{
    line-height: 2.5;
}

#start-game{
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    background: whitesmoke;
    box-shadow: 15px rbga(255,255,255,.8);
    color: var(--background);
}

#start-game:hover{
    background:#42128d;
    color: whitesmoke;
    transform: scale(1.1);
    cursor: pointer;
}



.game-over{
    z-index: 200;
    position: fixed;
    background: url(file:///Users/jennifergoldberg/sei/projects/Project-Zero-The-Sandwich/assets/images/sandy-millar-6tF2unOGK1c-unsplash.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    text-align: center;
}

#over__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#over__text h2{
    font-size: 3em;
    padding: 5px;
}

#over__text p{
    font-size: 2em;
    padding: 5px;
}

#restart{
    margin-top: 10px;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    font-family: 'Arvo', serif;
    font-size: 1em;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    background: whitesmoke;
    box-shadow: 15px rbga(255,255,255,.8);
    color: var(--background);
}

#restart:hover{
    background:var(--yellow);
    color: whitesmoke;
    transform: scale(1.1);
    cursor: pointer;
}

.game-won {
    z-index: 200;
    position: fixed;
    background: var(--background);
    left: 0;
    width: 100%;
    height: 100vh; 
    text-align: center;
}

#won__text{
    font-size: 3em;
    color:#ff7fd5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#replay{
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    background: whitesmoke;
    box-shadow: 15px rbga(255,255,255,.8);
    color: var(--background);
}

#replay:hover{
    background: var(--lightpurple);
    color: whitesmoke;
    transform: scale(1.1);
    cursor: pointer;
}


header {
    background-color: azure;
    background: var(--lightpurple);
    border-radius: 5px;
    height: 15vh;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}


header h2 {
    padding: 5px;
    padding-left: 20px;
}


main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.sando img{
    max-width: 300px;
    margin: 10px;
    border-radius: 20px;
    border: 10px dotted #42128d;
}

.meter-space{
    margin: 30px 30px 0 0;
}

.metrics{
    padding: 0 5px;
    height: 300px;
    width: 200px;
    }

.metrics p{
    margin: 10px 0 5px 0;
}

.meter-feed{
    background: url(file:///Users/jennifergoldberg/sei/projects/Project-Zero-The-Sandwich/assets/images/Wave-pink.svg);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.feed-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
} 

.meter-iced{
    background: url(file:///Users/jennifergoldberg/sei/projects/Project-Zero-The-Sandwich/assets/images/Wave-blue.svg);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.iced-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.meter-sliced{
    background: url(file:///Users/jennifergoldberg/sei/projects/Project-Zero-The-Sandwich/assets/images/Wave-yellow.svg);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.sliced-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

#age-name{
    font-size: 24px;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}



footer {
    background: var(--lightpurple);
    height: 10vh;
    max-width: 900px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    

}
#feed {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 25px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    animation: ease-in-out;
    background: whitesmoke;
    box-shadow: 5px 5px 15px 5px rbga(255,255,255,.8);
    color: var(--background);
    cursor: pointer;
}
#feed:hover{
    color:var(--pink);
    transform: scale(1.1);
    cursor: pointer;
}

#iced {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 25px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    animation: ease-in-out;
    background: whitesmoke;
    box-shadow: 5px 5px 15px 5px rbga(255,255,255,.8);
    color: var(--background);
    cursor: pointer;
}
#iced:hover{
    color:var(--teal);
    transform: scale(1.1);
    cursor: pointer;
}

#sliced {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 18px;
    margin: 25px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    animation: ease-in-out;
    background: whitesmoke;
    box-shadow: 5px 5px 15px 5px rbga(255,255,255,.8);
    color: var(--background);
    cursor: pointer;
}

#sliced:hover{
    color:var(--yellow);
    transform: scale(1.1);
    cursor: pointer;
}

#the-king{
    position: relative;
}