* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #1a0240;
    --lightpurple: #8055f6;
    --orange: #ffa029;
    --primary: #073B4C;
    --secondary: #118AB2;
}

body {
    padding: 0 40px;
    height: 80vh;
    width: 900px;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    background-color: var(--background);
    color: whitesmoke;
}

.card-box {
    position: fixed;
    background-color: var(--background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    z-index: 400;

}

.card-border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 380px;
    max-width: 700px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--lightpurple);
    border: 10px solid var(--orange);
    padding: 40px;
    text-align: center;
    color: whitesmoke;
}

.card-border h2{
    font-weight: 700;
    font-size: 2em;
    padding: 10px 10px;
    
}

.card-border ul{
    text-align: justify;
    margin-left: 20px;
    line-height: 1.5;
    padding: 20px 0 20px 50px;
}



.game-over{
    z-index: 200;
    position: fixed;
    background: url(file:///Users/jennifergoldberg/sei/projects/Project-Zero-Tomagotchi/images/sandy-millar-6tF2unOGK1c-unsplash.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
}

#over__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    background-color: azure;
    border-radius: 5px;
    height: 20vh;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}


header h2 {
    padding: 5px;
    padding-left: 20px;
}


main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

img{
    max-width: 300px;
    margin: 10px;
}

.meter-space{
    margin: 30px 30px 0 0;
}

.metrics{
    padding: 0 5px;
    height: 300px;
    width: 200px;
    }

.metrics p{
    margin: 10px 0 5px 0;
}

.meter-feed{
    background: var(--lightpurple);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.feed-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
} 

.meter-iced{
    background: var(--lightpurple);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.iced-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.meter-sliced{
    background: var(--lightpurple);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.sliced-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

/* .meter-age{
    background: var(--lightpurple);
    border-radius: 100px;
    height: 30px;
    width: 250px;
}

.age-progress{
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}  */

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}



/*#plate {
    height: 30vh;
    width: 50vw;
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 550px;
    margin: 40px;
}*/



footer {
    background-color: azure;
    height: 10vh;
    max-width: 900px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    

}

    #iced {
    padding: 5px 20px;
    margin: 30px;
    color: pink;
}